body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.container {
  display: grid;
  margin: auto;
}

.container > div {
  width: 75%;
  margin: 16px;
  padding: 16px;
  height: 128px;
  border-radius: 8px;
  background-color: honeydew;
  place-self: center;
}
